
.hero {
  margin-top: -110px;



}

/* Text Gradient CSS */
/* Text Gradient CSS */
.text-gradient {
  color: #5aed7a;
  background-image: linear-gradient(45deg, #5aed7a , #6fa09e 50%, #319b73 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.howwork{
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/realtor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar{
  scrollbar-width: none;
}